<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a class="footer__logo" href="#"><img src="img/footerlogo.svg" alt="footerlogo"></a>
            </div>
            <div class="col-9">
                <div class="footer__menu">
                    <nav>
                        <ul>
                            <li><a href="">Why Alivio</a></li>
                            <li><a href="">Solutions</a></li>
                            <li><a href="">Community</a></li>
                            <li><a href="">Pricing</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-12">
                <div class="footer__line"></div>
            </div>
            <div class="col-12">
                <div class="footer__icons">
                    <a target="_blank" class="footer__icons_rect" href="https://uk-ua.facebook.com/"><img src="img/facebook.png" alt=""></a>
                    <a target="_blank" class="footer__icons_rect" href="https://www.instagram.com/"><img src="img/instagram.png" alt=""></a>
                    <a target="_blank" class="footer__icons_rect" href="https://www.google.com/intl/uk/gmail/about/"><img src="img/gmail.png" alt=""></a>
                    <a target="_blank" class="footer__icons_rect" href="https://twitter.com/?lang=uk"><img src="img/twitter.png" alt=""></a>
                    <a target="_blank" class="footer__icons_rect" href="https://www.youtube.com/"><img src="img/youtube.png" alt=""></a>
                </div>
            </div>
            <div class="col-12">
                <div class="footer__text"><span>&copy</span> Copyright All rights reserved.</div>
            </div>
        </div>
    </div>
</footer>