.footer {
    background-color: #245852;
    padding: 104px 0px;
    width: 100%;

    &__menu {
        nav {
            ul {
                display: flex;
                justify-content: end;

                li {
                    a {
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 25px;
                        color: #FFFFFF;
                        margin: 0px 35px;
                        transition: 0.3s all;
                    }

                    :hover {
                        color: #b8b8b8;
                        transition: 0.3s all;
                    }
                }
            }
        }
    }

    &__line {
        border: 1px solid #FFFFFF;
        margin-top: 40px;
    }

    &__icons {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        &_rect {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 1px solid #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 25px;

            img {
                height: 35px;
                width: 35px;
            }
        }
    }

    &__text {
        font-size: 20px;
        color: #FFFFFF;
        text-align: center;
        margin-top: 16px;
    }

    @media screen and(max-width:1200px) {
        &__menu {
            nav {
                ul {
                    li {
                        a {
                            margin: 0px 25px;
                        }
                    }
                }
            }
        }
    }

    @media screen and(max-width:992px) {

        &{
            padding: 64px 0px;
        }
        &__menu {
            nav {
                ul {
                    display: block;
                    text-align: end;
                    margin-top: -50px;
                    li{
                        margin: 15px 0px;
                    }
                }
            }
        }
    }

    @media screen and(max-width:576px) {
        &__icons {
    
            &_rect {
                height: 35px;
                width: 35px;
                border-radius: 50%;
                border: 1px solid #FFFFFF;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0px 15px;
    
                img {
                    height: 25px;
                    width: 25px;
                }
            }
        }
    }
}